                  String Based Assignment Problem

In [14]:
input_string =input("enter sentence:")

enter sentence: congratulation

In [15]:
reversed_string = input_string[::-1]

In [16]:
print("reversed_string:" ,reversed_string,)

reversed_string: noitalutargnoc

   2. Check if a string is a palindrome .

In [53]:
input_string = input("enter string:")

enter string: garden

In [54]:
cleaned_string = input_string

In [55]:
reversed_string = cleaned_string[::-1]

In [56]:
if cleaned_string == reversed_string: print("The input string is a palindrome.")

In [57]:
print("The input string is not a palindrome.")

The input string is not a palindrome.

3. Convert a string to uppercase.

In [59]:
input_string = input("enter string:")

enter string: what do you mean

In [60]:
uppercase_string = input_string.upper()

In [61]:
print("uppercase_string:",uppercase_string)

uppercase_string: WHAT DO YOU MEAN

4. Convert a string to lowercase.

In [62]:
input_string = input("enter string:")

enter string: WHAT DO YOU MEAN

In [63]:
lowercase_string = input_string.lower()

In [64]:
print("lowercase_string:",lowercase_string)

lowercase_string: what do you mean

  5. Count the number of vowels in a string.

In [90]:
sentence = input("enter sentence:")

enter sentence: vismaya

In [91]:
vowel_count =0

In [92]:
for char in sentence:
    char_lower = char.lower()
    if char_lower in "aeiou":
        vowel_count += 1

In [93]:
print("Number of vowels:", vowel_count)

Number of vowels: 3

In [136]:
def count_consonants(string):
    consonant_count = 0
    consonants = "bcdfghjklmnpqrstvwxyzBCDEGHJKLMNPQRSTVWXY"
    for char in string:
        if char in consonants:
            consonant_count += 1
    return consonant_count

input_string = input("Enter a string: ")
result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string:  bhavesh

Number of consonants: 5

7. Remove all whitespaces from a string.

In [15]:
def remove_whitespace(input_string):
    result = ""

    for char in input_string:
        if char != " ":
            result += char

    return result

input_string ="hello world ! what is this?"
output_string = remove_whitespace(input_string)
print(output_string)

helloworld!whatisthis?

8. Find the length of a string without using the `len()` function.

In [50]:
count = 0

In [51]:
for char in input_string:
    count += 1

In [52]:
print("The length of the string is:", count)

The length of the string is: 27

9. Check if a string contains a specific word.

In [10]:
input_string = input("enter a string:")

enter a string: my name is bhavesh

In [11]:
specific_word = input("enter a specific word to check for:")

enter a specific word to check for: vsd

In [14]:
if specific_word in input_string:
    print(f"the string contains the word'{specific_word}'.")

In [15]:
#else
print(f"the string not contains the word'{specific_word}'.")

the string not contains the word'vsd'.

10. Replace a word in a string with another word.

In [22]:
input_string = input("enter a string:")

enter a string: hello world

In [23]:
old_word = input("enter the word to be replaced:")

enter the word to be replaced: world

In [24]:
new_word = input("enter the word to be replaced:")

enter the word to be replaced: student

In [25]:
modified_string = input_string.replace(old_word,new_word)

In [26]:
print("modified_string:",modified_string)

modified_string: hello student

11. Count the occurrences of a word in a string.

In [35]:
def count_word_occurrences(input_string, target_word):
    word_count = 0

    words = input_string.split()

    for word in words:
    
        if word == target_word:
        
            word_count += 1

    return word_count

input_string = "This is a sample sentence. This sentence contains the word 'sample' multiple times."

target_word = "sample"

result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'sample' appears 1 times in the input string.

12. Find the first occurrence of a word in a string.

In [51]:
def find_first_occurrence(text, word):
    
    index = text.find(word)

    if index == -1:
        return None  

    return index

text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

13. Find the last occurrence of a word in a string.

In [49]:
def find_last_occurrence(text, word):
    
    index = text.rfind(word)

    if index == -1:
        return None  

    return index

text = "This is an example sentence. This sentence also contains the word example."
word = "example"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 66

14. Split a string into a list of words

In [50]:
def split_string_into_words(text):

    words_list = text.split()

    return words_list

text = "This is an example sentence."
words = split_string_into_words(text)
print("List of words:", words)

List of words: ['This', 'is', 'an', 'example', 'sentence.']

15. Join a list of words into a string.

In [52]:
def join_words_into_string(words_list):
    # Step 1: Use the join() method to join the words in the list into a single string.
    joined_string = ' '.join(words_list)

    # Step 2: Return the joined string.
    return joined_string

# Example usage
words = ["This", "is", "an", "example", "sentence."]
text = join_words_into_string(words)
print("Joined string:", text)

Joined string: This is an example sentence.

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [53]:
def convert_to_underscore_separated(text):
    # Step 1: Use the replace() method to replace spaces with underscores.
    underscore_separated = text.replace(" ", "_")

    # Step 2: Return the converted string.
    return underscore_separated

# Example usage
text = "This is an example sentence."
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Converted text: This_is_an_example_sentence.

17. Check if a string starts with a specific word or phrase.

In [54]:
def starts_with(text, prefix):
    # Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    is_start = text.startswith(prefix)

    # Step 2: Return the result of the check.
    return is_start

# Example usage
text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

18. Check if a string ends with a specific word or phrase.

In [55]:
def ends_with(text, suffix):
    # Step 1: Use the endswith() method to check if the text ends with the specified suffix.
    is_end = text.endswith(suffix)

    # Step 2: Return the result of the check.
    return is_end

# Example usage
text = "Hello, world!"
suffix = "world!"
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [56]:
def convert_to_title_case(text):
    # Step 1: Use the title() method to convert the text to title case.
    title_case_text = text.title()

    # Step 2: Return the converted text.
    return title_case_text

# Example usage
text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Hello World

20. Find the longest word in a string.

In [58]:
def find_longest_word(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words = text.split()

    # Step 2: Initialize variables to keep track of the longest word and its length.
    longest_word = ""
    max_length = 0

    # Step 3: Iterate through the list of words.
    for word in words:
        # Check if the length of the current word is greater than the current max_length.
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    # Step 4: Return the longest word.
    return longest_word

# Example usage
text = "This is an example sentence with some long words."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: sentence

21. Find the shortest word in a string.

In [1]:
def find_shortest_word(text):
    
    words = text.split()

    
    shortest_word = None
    min_length = float('inf')  

    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    return shortest_word

text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

22. Reverse the order of words in a string.

In [2]:
def find_shortest_word(text):
    
    words = text.split()

    
    shortest_word = None
    min_length = float('inf')  

    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    return shortest_word

text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

23. Check if a string is alphanumeric.

In [9]:
def is_alphanumeric(text):
    
    return text.isalnum()
text = "hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string.

In [11]:
def extract_digits(text):
    digits = ""

    for char in text:
        if char.isdigit():
            digits += char

    return digits
text = "Hello123World456"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 123456

25. Extract all alphabets from a string.

In [13]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets

input_string = "Hello123World456"
result = extract_alphabets(input_string)
print(result)

H e l l o W o r l d

26. Count the number of uppercase letters in a string.

In [17]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

27. Count the number of lowercase letters in a string.

In [21]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

28. Swap the case of each character in a string.

In [25]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

29. Remove a specific word from a string.

In [26]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  
    filtered_words = [word for word in words if word != word_to_remove] 
    modified_string = ' '.join(filtered_words)  
    return modified_string

input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

30. Check if a string is a valid email address.

In [1]:
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if  re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 =  is_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [7]:
def extract_username(email):  
    username = email.split('@')[0]  
    return username
email = "example@email.com"
result = extract_username(email)
print(result)

example

32. Extract the domain name from an email address string.

In [12]:
def extract_domain(email):  
    domain = email.split('@')[1]  
    return domain
email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

33. Replace multiple spaces in a string with a single space.

In [13]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string

input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

34. Check if a string is a valid URL.

In [17]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) 
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  
print(result2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [40]:
def extract_protocol(url):

    protocol_end = url.find("://")

    if protocol_end != -1:
        
        protocol = url[:protocol_end]
        return protocol
    else:
        return None
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)


print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36. Find the frequency of each character in a string.

In [41]:
def character_frequency(input_string):
    frequency = {}  
    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency


input_str = "hello world"

char_freq = character_frequency(input_str)

for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

37. Remove all punctuation from a string.

In [42]:
import string

def remove_punctuation(input_string):
    
    translator = str.maketrans("", "", string.punctuation)

    
    clean_string = input_string.translate(translator)

    return clean_string


input_str = "Hello, world! How's it going?"


cleaned_str = remove_punctuation(input_str)


print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

38. Check if a string contains only digits.

In [43]:
def contains_only_digits(input_string):
    
    return input_string.isdigit()


string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

39. Check if a string contains only alphabets.

In [45]:
def contains_only_alphabets(input_string):
    
    return input_string.isalpha()

string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

40. Convert a string to a list of characters.

In [46]:
def string_to_list(input_string):
    
    char_list = list(input_string)
    return char_list

input_str = "Hello, world!"

char_list = string_to_list(input_str)

print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [49]:
def are_anagrams(str1, str2):
       
        str1 = str1.replace(" ", "").lower()
        str2 = str2.replace(" ", "").lower()

        return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

42. Encode a string using a Caesar cipher.

In [63]:
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """


  encoded_text = ""

  
  for char in text:
    
    if char.isalpha():
      
      
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      
      encoded_char = char

    
    encoded_text += encoded_char

  
  return encoded_text
text = "Hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

43. Decode a Caesar cipher encoded string.

In [64]:
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    
    decoded_text = ""

    
    for char in text:
        
        if char.isalpha():
            
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            
            decoded_char = char

        
        decoded_text += decoded_char

    
    return decoded_text

text = "lopp, zruog!"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)

print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

44. Find the most frequent word in a string.

In [7]:
import re
from collections import Counter

def most_frequent_word(input_string):
   
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    

    words = clean_string.split()

    word_counter = Counter(words)
    

    most_common_word = word_counter.most_common(1)[0][0]
    
    return most_common_word

input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

45. Find all unique words in a string.

In [100]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'the', 'world', 'hows', 'there', 'hello'}

46. Count the number of syllables in a string.

In [101]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

47. Check if a string contains any special characters.

In [102]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

48. Remove the nth word from a string.

In [103]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

49. Insert a word at the nth position in a string.

In [23]:
input_str = "hello world is famous"
print("the original string : " + input_str)
N = 1
count = 0
res = ""
for ele in input_str:
    if ele == ' ':
        count = count + 1
        if count == N:
            break
        res = ""
    else :
        res = res + ele
print("the Nth word in string : " + res)

the original string : hello world is famous
the Nth word in string : hello

50. Convert a CSV string to a list of lists.

In [104]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

                                                    List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [1]:
integer_list = [i for i in range(1,11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [6]:
def custom_len(input_list):
    
    count=0
    
    for _ in input_list:
        count +=1
    return count
my_list = [10,20,30,40,50]
length = custom_len(my_list)
print("length of the list:",length)

length of the list: 5

3. Append an element to the end of a list.

In [8]:
my_list = [10,20,30]
new_element = 40
my_list.append(new_element)
print("updated list:",my_list)

updated list: [10, 20, 30, 40]

4. Insert an element at a specific index in a list.

In [9]:
my_list = [10,20,30,40,50]
new_element = 25
index_to_insert = 2
my_list.insert(index_to_insert, new_element)
print("updated list:",my_list)

updated list: [10, 20, 25, 30, 40, 50]

5. Remove an element from a list by its value.

In [10]:
my_list = [10,20,30,40,50]
element_to_remove = 30
my_list.remove(element_to_remove)
print("updated list:",my_list)

updated list: [10, 20, 40, 50]

6. Remove an element from a list by its index.

In [15]:
my_list = [10,20,30,40,50]
index_to_remove = 3
removed_element = my_list.pop(index_to_remove)
print("removed element:", removed_element)
print("updated list:",my_list)

removed element: 40
updated list: [10, 20, 30, 50]

7. Check if an element exists in a list.

In [7]:
my_list = [10,20,30,40,50]
element_to_check = 40
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check}does not exists in the list.")

40 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [9]:
my_list = [10,20,30,40,50,30]
element_to_find = 30
index = my_list.index(element_to_find)
print(f"the index of {element_to_find} is {index}")

the index of 30 is 2

9. Count the occurrences of an element in a list.

In [10]:
my_list = [10,20,30,40,50,30,30]
element_to_count = 30
count = my_list.count(element_to_count)
print(f"the count of {element_to_count} occures {count} times in the list.")

the count of 30 occures 3 times in the list.

10. Reverse the order of elements in a list.

In [13]:
my_list = [10,20,30,40,50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [16]:
my_list = [10,20,30,40,50]
my_list.sort()
print("sorted list in ascending order:", my_list)

sorted list in ascending order: [10, 20, 30, 40, 50]

12. sort a list in descending order.

In [20]:
my_list = [50,10,30,40,20]
my_list.sort(reverse = True)
print("sorted list in descending order:", my_list)

sorted list in descending order: [50, 40, 30, 20, 10]

13. create a list of even numbers from 1 to 20.

In [21]:
even_numbers = [x for x in range (2,21,2)]
print("list of even_numbers:", even_numbers)

list of even_numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [26]:
odd_numbers = [x for x in range(1,21,2)]
print("list of odd_numbers:", odd_numbers)

list of odd_numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. find the sum of all elements in a list.

In [28]:
my_list = [10,20,30,40,50]
total_sum = sum(my_list)
print("Sum of elements:", total_sum)

Sum of elements: 150

16. find the maximum value in a list.

In [29]:
my_list = [10,20,30,40,50]
max_value = max(my_list)
print("maximum value:", max_value)

maximum value: 50

17. find the minimum value in a list.

In [31]:
my_list = [100,200,300,5,500]
min_value = min(my_list)
print("minimum value:", min_value)

minimum value: 5

18. create a list of squares of numbers from 1 to 10.

In [32]:
squares = [x**2 for x in range (1,11)]
print("list of squares:", squares)

list of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. create a list of random numbers.

In [49]:
import random

random_integers = [random.randint( 1, 100) for _ in range(10)]

print("list of random integers:", random_integers)

list of random integers: [61, 95, 65, 69, 60, 74, 73, 77, 72, 74]

20. remove duplicates from list.

In [51]:
my_list = [10,20,30,20,40,10,50,30]
unique_list = list(set(my_list))
print("list without duplicates:",unique_list)

list without duplicates: [40, 10, 50, 20, 30]

21.  find the comman elements between two lists .

In [52]:
a = [2,3,4,5]
b = [3,5,7,9]
def comman (a,b):
    c = [value for value in a if value in b]
    return c
d = comman(a,b)
print(d)

[3, 5]

22. find the difference between two lists .

In [53]:
list1 = [10,20,30,40,50]
list2 = [30,40,50,60,70]
difference = list(set(list1).difference(list2))
print("difference between lists:", difference)

difference between lists: [20, 10]

23. merge two lists.

In [54]:
list1 = [10,20,30]
list2 = [40,50,60]
merged_list = list1+list2
print("merged list:", merged_list)

merged list: [10, 20, 30, 40, 50, 60]

24. multiply all elements in a list by 2.

In [55]:
my_list = [10,20,30,40,50]
multiplied_list = [x*2 for x in my_list]
print("multiplied list:", multiplied_list)

multiplied list: [20, 40, 60, 80, 100]

25. filter out all even numbers from a list .

In [57]:
list_A = [33,35,36,39,40,42]
res = []
for n in list_A:
    if n % 2 == 0:
        res.append(n)
        
print(res)

[36, 40, 42]

26.  convert a list of strings to a list of integers .

In [59]:
string_list = ["10","20","30","40","50"]
integer_list = [int(x) for x in string_list]
print("list of integers:", integer_list)

list of integers: [10, 20, 30, 40, 50]

27.  convert a list of integers to a list of strings .

In [60]:
integer_list = [10,20,30,40,50]
string_list = [str(x) for x in integer_list]
print("list of strings:", string_list)

list of strings: ['10', '20', '30', '40', '50']

28. Flatten a nested list .

In [11]:
nested_list = [[1,2,3],[4,5],[6,7,8,9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("flattened list:", flattened_list)

flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. create a list of the first 10 fibonacci numbers .

In [12]:
def generate_fibonacci(n):
    fibonacci_list = [0,1]
    for i in range (2,n):
        next_fibonacci = fibonacci_list[i-1]+fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
        
    return fibonacci_list

fibonacci_number = generate_fibonacci(2)

print("first 10 fibonacci numbers:", fibonacci_number)

first 10 fibonacci numbers: [0, 1]

30. check if a list is sorted .

In [20]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst [i] < lst[i-1]:
            return False
    return True
ascending_list = [10,20,30,40,50]
if is_sorted_ascending(ascending_list):
    print("the list is sorted in ascending order.")
else:
    print("the list is not sorted in ascending order.")

the list is sorted in ascending order.

31. Rotate a list to the left by n positions .

In [22]:
def rotate_left(lst, n):
    n = n % len(lst)
    
    roteted = lst[n:] + lst[:n]
    return roteted

my_list = [1,2,3,4,5,6]

n = 2
rotated_list = rotate_left(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

32.  Rotate a list to the right by n positions .

In [26]:
def rotate_right(lst, n):
    n = n % (len(lst))
    
    roteted = lst[-n:] + lst[:-n]
    return roteted

my_list = [1,2,3,4,5,6]

n = 2
rotated_list = rotate_right(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

33. create a list of prime number up to 50 .

In [1]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

prime_numbers = [num for num in range(2,30) if is_prime(num)]

print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. split a list into chunks of size n.

In [8]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

prime_numbers = sieve_of_eratosthenes(50)

print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

35. find the second largest number in a list .

In [9]:
my_list = [10,5,20,15,30,25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("second largest number:",second_largest)
else:
    print("the list does not contain enough elements.")

second largest number: 25

36. Replace every element in a list with its square .

In [11]:
my_list = [2,4,6,8,10]

squared_list = [x ** 2 for x in my_list]

print("squared list:", squared_list)

squared list: [4, 16, 36, 64, 100]

37. convert a list to a dictionary where list elements become keys and their indices become values .

In [12]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

my_dict = {element: index for index, element in enumerate(my_list)}

print("converted dictionary:", my_dict)

converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. shuffle the elements of a list randomly.

In [20]:
import random
my_list = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print("shuffled list:", my_list)

shuffled list: [8, 6, 5, 10, 2, 4, 9, 7, 3, 1]

39. create a list of the first 10 factorial numbers.

In [21]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial (n-1)
factorial_numbers =[factorial (i) for i in range (10)]

print("list of the first 10 factorial numbers:", factorial_numbers)

list of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. check if two lists have at least one element in comman.

In [34]:
def has_comman_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
    
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
    
if has_comman_element(list1, list2):
    
    print("the lists have at least one comman element.")
else:
    print("the lists do not have at least one comman element.")

the lists have at least one comman element.

41. Remove all elements from a list.

In [35]:
my_list = [1,2,3,4,5]
my_list.clear()
print("empty list:", my_list)

empty list: []

42. Replace nagative numbers in a list with 0.

In [38]:
my_list = [10, -5, 20, -15, 30, -25]
for i in range (len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
        
print("list after replacing nagative numbers with 0:", my_list)

list after replacing nagative numbers with 0: [10, 0, 20, 0, 30, 0]

43. convert a string into a list of words.

In [39]:
my_string = "hello, this is sample sentence."
word_list = my_string.split()
print("list of words:",word_list)

list of words: ['hello,', 'this', 'is', 'sample', 'sentence.']

44. convert a list of words into a string.

In [41]:
word_list = ["hello", "this", "is", "a", "sample", "sentence."]
my_string = " " .join(word_list)
print("converted string:", my_string)

converted string: hello this is a sample sentence.

45. create a list of words into a string.

In [42]:
n = 5
power_list = [2 ** i for i in range(n)]
print("list of the first", n,"power of 2:", power_list)

list of the first 5 power of 2: [1, 2, 4, 8, 16]

46. find the longest string in list of strings.

In [50]:
string_list = ["apple","banana", "cherry", "date", "elderbery"]

longest_string = " "
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("longest string:", longest_string)

longest string: elderbery

47. find the shortest string in a list of strings.

In [53]:
string_list = ["apple","banana", "cherry", "date", "elderbery"]

shortest_string = string_list[0]
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("shortest string:", shortest_string)

shortest string: date

48. create a list of the first n triangular numbers.

In [55]:
def triangular_numbers(n):
    return[i * (i + 1) // 2 for  i in range (1,n+1)]
#specify the value of n
n = 5
triangular_list = triangular_numbers(n)

print("list of the first", n, "triangular numbers:", triangular_list)

list of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. check if a list contains another list as a subsequence.

In [62]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0
    
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
        
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
subsequence = [3, 5, 8]


if is_subsequence(subsequence, main_list):
    print("main list contains the subsequence.")
else:
    print("main list does not contains the subsequence")

main list contains the subsequence.

50. swap two elements in a list by their indices.

In [63]:
my_list = [1, 2, 3, 4, 5]

index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp
print("list after swaping elements:", my_list)

list after swaping elements: [1, 4, 3, 2, 5]

                                     Tuple based practice problem :

1. create a tuple with integers from 1 to 5.

In [4]:
my_tuple = (10, 20, 30, 40, 50)
create_element = my_tuple
print("The create element of the tuple is:",create_element)

The create element of the tuple is: (10, 20, 30, 40, 50)

2.  access the third element of a tuple.

In [3]:
my_tuple = (10, 20, 30, 40, 50)
third_element = my_tuple[2]
print("The third element of the tuple is:",third_element)

The third element of the tuple is: 30

3. find the length of a tuple without using the len( ) function.

In [12]:
my_tuple = (10, 20, 30, 40, 50)
count = 0
for _ in my_tuple:
    count += 1
print("the length of the tuple is:", count)

the length of the tuple is: 5

4. count the occurrences of an element in a tuple.

In [15]:
my_tuple = (10, 20, 30, 20, 40, 20, 50)
element_to_count = 20
count = 0
for item in my_tuple:
    if item == element_to_count:
        count += 1
print(f"the element {element_to_count} appears{count} times in the tuple.")

the element 20 appears3 times in the tuple.

5.  find the index of the first occurrence of an element in a tuple.

In [23]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20
index = -1
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break
if index != -1:
    
     print(f"the first occurrence of {element_to_find} is at index {index}.")
else:
     print(f"{element_to_find} is not found in the tuple.")

the first occurrence of 20 is at index 1.

6.  check if an element exists in a tuple.

In [33]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exists in the tuple.")

30 exists in the tuple.

7.  convert a tuple to a list.

In [34]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)
print("tuple:", my_tuple)
print("list:", my_list)

tuple: (10, 20, 30, 40, 50)
list: [10, 20, 30, 40, 50]

8.  convert a list to a tuple.

In [35]:
my_list = [10, 20, 30, 40, 50]
my_tuple = tuple(my_list)
print("list:", my_list)
print("tuple:", my_tuple)

list: [10, 20, 30, 40, 50]
tuple: (10, 20, 30, 40, 50)

9. unpack the elements of a tuple into variables.

In [39]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

10. create a tuple of even numbers from 1 to 10.

In [40]:
even_numbers_list = [num for num in range(2,11,2)]
even_numbers_tuple = tuple(even_numbers_list)
print("tuple of even numbers:", even_numbers_tuple)

tuple of even numbers: (2, 4, 6, 8, 10)

11.  create a tuple of odd numbers from 1 to 10.

In [41]:
even_numbers_list = [num for num in range(2,11,2)]
even_numbers_tuple = tuple(even_numbers_list)
print("tuple of even numbers:", even_numbers_tuple)

tuple of even numbers: (2, 4, 6, 8, 10)

12.  concatenate two tuples.

In [42]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2
print("concatenated tuple:", concatenated_tuple)

concatenated tuple: (1, 2, 3, 4, 5, 6)

13. repeat a tuple three times.

In [43]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3
print("repeated tuple:", repeated_tuple)

repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. check if a tuple is empty.

In [48]:
empty_tuple = ()
non_empty_tuple = (1, 2, 3)
if not empty_tuple:
    print("the empty_tuple is empty.")
else:
    print("the empty_tuple is not empty.")
if not non_empty_tuple:
    print("the non_empty_tuple is empty.")
else:
    print("the non_empty_tuple is not empty.")

the empty_tuple is empty.
the non_empty_tuple is not empty.

15. create a nested tuple.

In [49]:
nested_tuple = ((1, 2, 3),('a','b','c'),(True, False))
print("nested tuple:", nested_tuple)

nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. access the first element of a nested tuple.

In [51]:
nested_tuple = ((1, 2, 3),('a','b','c'),(True, False))
first_element = nested_tuple[0]
print(first_element)

(1, 2, 3)

17. create a tuple with a single element.

In [52]:
single_element_tuple = (42)
print("single element tuple:", single_element_tuple)

single element tuple: 42

18. compare two tuples.

In [54]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2)  #  equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  #  inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)  #  less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  #  less than or equal to check 
print("tuple1 > tuple2:", tuple1 > tuple2)  #  greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  #  greater than or equal check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

    19. Delete a tuple.

In [56]:
my_tuple = (1, 2, 3, 4, 5)

In [57]:
my_tuple

(1, 2, 3, 4, 5)

In [58]:
del my_tuple

In [59]:
print(my_tuple)

NameError: name 'my_tuple' is not defined

    20.  slice a tuple.

In [60]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sliced_tuple = my_tuple[2:6]
print("sliced tuple:", sliced_tuple)

sliced tuple: (3, 4, 5, 6)

    21. find the maximun value in a tuple.

In [63]:
my_tuple = (10, 20, 50, 80, 100)
max_value =max(my_tuple)
print("maximum value:", max_value)

maximum value: 100

    22.  find the minimum value in aetuple.

In [64]:
my_tuple = (500, 100, 300, 50, 10)
min_value = min(my_tuple)
print("minimum value:", min_value)

minimum value: 10

    23.  convert a string to a tuple of charecters.

In [65]:
my_string = ("hello, world!")
tuple_of_characters = tuple(my_string)
print("tuple of characters:", tuple_of_characters)

tuple of characters: ('h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!')

    24. convert a tuple of characters to a string.

In [67]:
tuple_of_characters = ('h', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!')
string_from_tuple = ''.join(tuple_of_characters)
print("string from tuple:", string_from_tuple)

string from tuple: hello, world!

    25. create a tuple from multiple data types.

In [68]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

    26. check if two tuples are identical.

In [69]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identica;:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identica;: False

    27. sort the element of a tuple.

In [70]:
my_tuple = (5, 2, 8, 1, 3)
sorted_tuple = tuple(sorted(my_tuple))
print("sorted tuple:", sorted_tuple)

sorted tuple: (1, 2, 3, 5, 8)

    28. convert a tuple of integers to a tuple of strings.

In [71]:
tuple_of_integers = (1, 2, 3, 4, 5)
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)
print("tuple of strings:", tuple_of_strings)

tuple of strings: ('1', '2', '3', '4', '5')

    29. convert a tuple of strings to a tuple of integers.

In [72]:
tuple_of_strings = ('10', '20', '30', '40', '50')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("tuple of integers:", tuple_of_integers)

tuple of integers: (10, 20, 30, 40, 50)

    30.  merge two tuples.

In [74]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("merged tuple:", merged_tuple)

merged tuple: (1, 2, 3, 4, 5, 6)

    31. flatten a nested tuple.

In [12]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

     32.  create a tuple of the first 5 prime numbers.

In [20]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range (2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
    
prime_numbers_list = [num for num in  range(2,100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print("tuple of the first 5 prime numbers:", prime_numbers_tuple)

tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

      33. check if a tuple is a palindrome.

In [22]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1,2,3,4,5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)


print("non palindrome tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non palindrome tuple is a palindrome: False

     34. create a tuple of squares of numbers from 1 to 5.

In [23]:
squares_tuple = tuple(x ** 2 for x in range (1,6))
print("tuple of squares:", squares_tuple)

tuple of squares: (1, 4, 9, 16, 25)

     35. filter out all even numbers from a tuple.

In [24]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print(" filtered tuple:", filtered_tuple)

 filtered tuple: (1, 3, 5, 7, 9)

      36. multiply all elements in a tuple by 2.

In [26]:
original_tuple = (1, 2, 3, 4, 5)
doubled_tuple = tuple(num * 2 for num in original_tuple)

print("doubled tuple:", doubled_tuple)

doubled tuple: (2, 4, 6, 8, 10)

    37. crate a tuple of random number.

In [30]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range (10))

print("Random tuple:", random_tuple)

Random tuple: (31, 47, 71, 6, 61, 28, 82, 53, 5, 65)

    38. check if a tuple is sorted.

In [31]:
def is_sorted(tup):
    for i in range(len(tup) -1):
        if tup[i] > tup[i + 1]:
            return False
        return True
    
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)

print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

    39. Rotate a tuple to the left by n positions.

In [34]:
def rotate_tuple_left(tup,n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left (my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

    40 . rotate a tuple to the right by n positions.

In [35]:
def rotate_tuple_right(tup,n):
    n = n % len(tup)
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_position  = 2
result = rotate_tuple_right (my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

    41.  create a tuple of the first 5 fibonacci numbers.

In [39]:
def generate_fibonacci(n):
    fibonacci = [0,1]
    while len(fibonacci) <n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)
    return tuple(fibonacci)

fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

    42.  crate a tuple from user input.

In [3]:
input_str =input("enter a element separated by comma:")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("user input tuple:", user_tuple)

enter a element separated by comma: s,e,r,,t,y,y,u

user input tuple: ('s', 'e', 'r', '', 't', 'y', 'y', 'u')

43. swap two elements in a tuple.

In [9]:
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index = 2
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1 ,index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range (len(my_tuple))
)
print("swapped tuple:", swapped_tuple)

swapped tuple: (1, 4, 3, 2, 5)

   44.  reverse the elements of a tuple.

In [10]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. create a tuple of the first n powers of 2.

In [12]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range (n))
print("tuple of the first ", n,"power of 2:", powers_of_2_tuple)

tuple of the first  5 power of 2: (1, 2, 4, 8, 16)

46. find the longest string in a tuple of strings.

In [13]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key = len)
print ("longest strinhg:", longest_string)

longest strinhg: watermelon

47. find the shortest string in a tuple of string.

In [14]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key = len)
print("shortest string:", shortest_string)

shortest string: kiwi

48. create a tuple of the first n triangular numbers.

In [16]:
n = 5
triangular_number_tuple = tuple(i * (i + 1)// 2 for i in range (1,n+1))

print("tuple of the first ", n, "triangular numbers:", triangular_number_tuple)

tuple of the first  5 triangular numbers: (1, 3, 6, 10, 15)

    49. check if a tuple contains another tuple as a subsequence.

In [1]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range (len(main_tuple) - sub_length + 1):
        if main_tuple[i:i + sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sub_tuple = (3, 4, 5)
contains_subseq = contains_subsequence(main_tuple, sub_tuple)
print("main tuple contains subsequence tuple:", contains_subseq)

main tuple contains subsequence tuple: True

    50. create a tuple of alternating is and 0s of length n.

In [6]:
n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("tuple of % alternating is and 0s:", alternating_tuple)

tuple of % alternating is and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

                                  set based problems:

     1.create a set with integer from 1 to 5.

In [7]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

     2. Add an element to a set.

In [11]:
my_set = {1,2,3,4,5}
print("original set:", my_set)
element_to_add = 6
my_set.add(element_to_add)
print("set after adding element:", my_set)

original set: {1, 2, 3, 4, 5}
set after adding element: {1, 2, 3, 4, 5, 6}

      3.remove an element from a set.

In [12]:
my_set = {1,2,3,4,5}
print("set after adding element:", my_set)
element_to_remove = 3
my_set.remove(element_to_remove)
print("set after removing", element_to_remove,":", my_set)

set after adding element: {1, 2, 3, 4, 5}
set after removing 3 : {1, 2, 4, 5}

     4. check if an element exists in a set.

In [19]:
my_set = {1,3,5,7,9}
element_to_check = int(input("enter the element to check:"))
if element_to_check in my_set:
                       
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exists in the set.")

enter the element to check: 10

10 does not exists in the set.

    5. find the length of a set without using the len() function

In [21]:
my_set = {1,2,3,4,5}
count = 0
for _ in my_set:
    count += 1
print("length of the set:", count)

length of the set: 5

      6. clear all elements from a set.

In [22]:
my_set = {1,2,3,4,5}
print("original set:", my_set)

my_set.clear()
print("set after clearing:", my_set)

original set: {1, 2, 3, 4, 5}
set after clearing: set()

    7.  create a set of even numbers from 1 to 10.

In [29]:
even_numbers_set = set()
for num in range(1,11):
    if num % 2 == 0:
        even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

     8. create a set of odd numbers from 1 to 10.

In [31]:
odd_numbers_set = set()
for num in range(1,11):
    if num % 2 != 0:
        
        odd_numbers_set.add(num)
        
print(odd_numbers_set)

{1, 3, 5, 7, 9}

    9.  find the union of two sets.

In [32]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

union_result = set1.union(set2)
print("set1:", set1)
print("set2:", set2)
print("union of set1 and set2:", union_result)

set1: {1, 2, 3, 4, 5}
set2: {4, 5, 6, 7, 8}
union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

    10. find the intersection of two sets.

In [33]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

intersection_result = set1.intersection(set2)

print("set1:", set1)
print("set2:", set2)
print("intersection:", intersection_result)

set1: {1, 2, 3, 4, 5}
set2: {3, 4, 5, 6, 7}
intersection: {3, 4, 5}

    11. find the difference between two sets.

In [34]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
difference_set = set1.difference(set2)
print("set1:", set1)
print("set2:", set2)
print("difference:", difference_set)

set1: {1, 2, 3, 4, 5}
set2: {3, 4, 5, 6, 7}
difference: {1, 2}

    12. check if a set is a subset of another set.

In [37]:
set1 = {1,2,3}
set2 = {1,2,3,4,5}
is_subset = set1.issubset(set2)
print("is set1 a subset of set2:", is_subset)

is set1 a subset of set2: True

    13.  check if a set is a superset of anotherset.

In [38]:
set1 = {1,2,3,4,5}
set2 = {3,4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2.")
else:
    print("set1 is not a superset of set2.")

set1 is a superset of set2.

     14. create a set from a list.

In [40]:
my_list = [2,4,1,4,3,2,5]
my_set = set(my_list)
print("original list:", my_list)
print("set from list:", my_set)

original list: [2, 4, 1, 4, 3, 2, 5]
set from list: {1, 2, 3, 4, 5}

     15. convert a set to a list.

In [45]:
my_set = {3,1,4,1,5,9,2,6,5}
my_list = list(my_set)
print("original set:", my_set)
print("converted list:", my_list)

original set: {1, 2, 3, 4, 5, 6, 9}
converted list: [1, 2, 3, 4, 5, 6, 9]

     16. remove a random element from a set.

In [52]:
import random

my_set = {1,2,3,4,5}

print("original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("updated set after removing", random_element, ":", my_set)

original set: {1, 2, 3, 4, 5}
updated set after removing 3 : {1, 2, 4, 5}

    17. pop an element from a set.

In [55]:
my_set = {1,2,3,4,5}
print("original set:", my_set)
popped_element = my_set.pop()
print("popped element:", popped_element)
print("set after popping:", my_set)

original set: {1, 2, 3, 4, 5}
popped element: 1
set after popping: {2, 3, 4, 5}

      18. check if two set have no elements in common.

In [2]:
set1 = {1,2,3,4,}
set2 = {5,6,7,8,}
common_elements = set1.intersection(set2)
if not common_elements:
    print("the two sets have no elements in common.")
else:
    print("the two sets have common elements:", common_elements)

the two sets have no elements in common.

     19. find the symmetric difference between two sets.

In [6]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

symmetric_difference = set1 ^ set2

print("symmetric difference:", symmetric_difference)

symmetric difference: {1, 2, 3, 6, 7, 8}

    20. update a set with elements from another set.

In [7]:
set1 = {1,2,3}
print("set1:", set1)

set2 = {3,4,5}
print("set2:", set2)
set1.update(set2)

print("updated set1:", set1)

set1: {1, 2, 3}
set2: {3, 4, 5}
updated set1: {1, 2, 3, 4, 5}

      21. create a set of the first 5 prime numbers.

In [3]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
    
prime_set = set()
num = 2
while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
        
    num += 1
        
print("set of the first 5 prime numbers:", prime_set)

set of the first 5 prime numbers: {2, 3, 5, 7, 11}

     22. check if two sets are identical.

In [6]:
set1 = {1,2,3,4,5}
set2 = {3,1,5,2,4}

if set1 == set2:
    print("the sets are identical.")
else:
    print("the sets are not identical.")

the sets are identical.

    23. create a frozen set.

In [13]:
elements = {1,2,3,4,5}
my_frozen_set = frozenset(elements)
print("frozen set:", my_frozen_set)

frozen set: frozenset({1, 2, 3, 4, 5})

    24. check if a set is disjoint with another set.

In [14]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

    25. create a set of squares of numbers from 1 to 5.

In [16]:
squares_set = set()
for num in range(1,6):
    squares = num ** 2
    squares_set.add(squares)
print(squares_set)

{1, 4, 9, 16, 25}

     26.filter out all even numbers from a set.

In [17]:
original_set = {1,2,3,4,5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
        
print("original set:", original_set)
print("even_numbers_set:", even_numbers_set)

original set: {1, 2, 3, 4, 5}
even_numbers_set: {2, 4}

     27. multiply all elements in a set by 2.

In [19]:
original_set = {1,2,3,4,5}
multiplied_set = set()

for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)
print("original set:", original_set)
print("multiplied set:", multiplied_set)

original set: {1, 2, 3, 4, 5}
multiplied set: {2, 4, 6, 8, 10}

     28. create a set of random numbers.

In [29]:
import random
num_random_numbers = 5

random_number_set = set()
for _ in range (num_random_numbers):
    random_num = random.randint(1,100)
    random_number_set.add(random_num)
    
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {69, 41, 43, 18, 95}

    29. check if a set is empty.

In [30]:
my_set = set()
if not my_set:
    print("the set is empty.")
else:
    print("the set is not empty.")

the set is empty.

    30.create a nested set.(hint:use frozenset)

In [31]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}
print("nested set:", nested_set)

nested set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

     31. remove an element from a set using the discard method.

In [33]:
my_set = {1,2,3,4,5}
print("initial set:", my_set)

element_to_remove = 3

my_set.discard(element_to_remove)

print("set after removing", element_to_remove,",", my_set)

initial set: {1, 2, 3, 4, 5}
set after removing 3 , {1, 2, 4, 5}

    32.  compare two sets.

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

    33.create a set from a string.

In [39]:
input_string = "hello"

char_set = set(input_string)

print(char_set)

{'e', 'h', 'l', 'o'}

    34. convert a set of strings to a set of integers.

In [40]:
string_set = {"123","456","789"}

integer_set = set()

for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("original string set:", string_set)
print("converted integer set:", integer_set)

original string set: {'123', '789', '456'}
converted integer set: {456, 123, 789}

      35. convert a set of integers to a set of strings.

In [45]:
integers_set = {1,2,3,4,5}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
    
print("original integers set:", integers_set)
print("converted strings set:", strings_set)

original integers set: {1, 2, 3, 4, 5}
converted strings set: {'4', '1', '3', '2', '5'}

    36.  create a set from a tuple.

In [47]:
input_tuple = (1,2,3,2,4,5,1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

     37. conver a set to a tuple.

In [50]:
input_set = {1,2,3,4,5}
output_tuple = tuple(input_set)
print("original set:", input_set)
print("converted tuple:", output_tuple)

original set: {1, 2, 3, 4, 5}
converted tuple: (1, 2, 3, 4, 5)

     38. find the maximum value in a set.

In [55]:
my_set = {15,7,22,13,8}
max_value = None
for num in my_set:
    if max_value is None or num > max_value:
        max_value = num
print("maximum value:", max_value)

maximum value: 22

    39. find the minimum value in a set.

In [56]:
my_set = {15,8,23,4,42,11}
min_value = None
for num in my_set:
    if min_value is None or num < min_value:
        min_value = num
print("minimum value:", min_value)

minimum value: 4

     40. create a set from user input.

In [59]:
user_set = set()
print("enter elements for the set(type 'done' to finish):")
while True:
    user_input = input(">")
    if user_input.lower() == 'done':
        break
    user_set.add(user_input)
print("final set:", user_set)

enter elements for the set(type 'done' to finish):

> ineuron, pwskills, done
> done

final set: {'ineuron, pwskills, done'}

     41. check if the intersection of two sets is empty.

In [60]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

intersection_result = set1.intersection(set2)
if not intersection_result:
    print("The intersection of the two sets in empty.")
else:
    print("the intersection of the two sets in not empty.")

the intersection of the two sets in not empty.

    42. create a set of the first 5 fibonacci numbers.

In [61]:
fibonacci_set = set()
a, b = 0, 1
for _ in range (6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("set of the print 5 fibonacci numbers:", fibonacci_set)

set of the print 5 fibonacci numbers: {0, 1, 2, 3, 5}

    43. remove duplicates from a list using sets.

In [62]:
original_list = [2,4,6,8,4,10,6,12,14,8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("original list:", original_list)
print("list with duplicates removed:", unique_list)

original list: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
list with duplicates removed: [2, 4, 6, 8, 10, 12, 14]

    44. check if two sets have the same elements regardless of their count.

In [71]:
def have_same_elements(set1, set2):

    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2

set1 = {1,2,3,2,1}
set2 = {3,1,2}

result = have_same_elements (set1, set2)
if result:
    print("the sets have the same elements.")
else:
    print("the sets do not have the same elements.")

the sets have the same elements.

     45.  create a set of the first n power of 2.

In [73]:
def generate_power_of_2(n):
    power_of_2 = set()
    for i in range (n):
        power = 2 ** i
        power_of_2.add(power)
    return power_of_2
n = 5
power_set = generate_power_of_2(n)
print(power_set)

{1, 2, 4, 8, 16}

    46.  find the common elements between a set and a list.

In [77]:
my_set = {3,7,9,12,15}
my_list = [7,12,5,9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("common elements:", common_elements)

common elements: [7, 9, 12]

     47. create a set of the first n triangular numbers.

In [79]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers

n = int(input("Enter the value of n: "))

triangular_set = generate_triangular_numbers(n)

print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  10

The set of the first 10 triangular numbers is: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

      48. check if a set containg another set as a subset.

In [81]:
set1 = {1,2,3,4,5}
set2 = {3,4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

    49. create a set of alternating is and 0s of length n.

In [84]:
def create_alternating_set(n):
    
    alternating_set = set()
    

    for i in range(n):
        
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0) 
    return alternating_set


length_n = 10

result = create_alternating_set(length_n)

print(result)

{0, 1}

     50.  merge multiple sets into one.

In [88]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = {5,6,7}
merged_set = set1. union(set2,set3)
print("merged set:", merged_set)

merged set: {1, 2, 3, 4, 5, 6, 7}